.Phonetics {
  margin-bottom: 30px;
}

.Phonetics a {
  border: 1px solid #ddd;
  border-radius: 20px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
  padding: 10px 10px;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background: #ece0d7;
  color: white;
}

.Phonetics .text {
  font-weight: bold;
  opacity: 0.7;
}
