.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  border: 1px solid #ddd;
  border-radius: 30px;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 5px;
  padding: 10px 10px;
}
